{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended",
    "ali",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-return-await": "off",
    "import/no-unresolved": "off",
    "react/prop-types": "off",
    "react/display-name": "off",
    "no-shadow": "off",
    "import/newline-after-import": [2],
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-empty-function": "off"
  }
}
